/*****************************************************************/
/**************************** COLORS ****************************/
/*****************************************************************/

:root {
  --color-yellow: #F5C518;
  --color-black: #000000;
  --color-white: #fff;
  --color-blue: #128bb5;

  --color-gray-darkest: #121212;
  --color-gray-dark: #1A1A1A;
  --color-gray: #777;

  --color-yellow-light: #fbf5e2;
}